<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Dummy NYC</title>
    <link rel="stylesheet" href="public/stylesheets/style.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="center">
    <ul class="nav-ul">
        <li><div class="home"><a href="/">Home</a></div></li>
        <li><div class="map"><a href="/maps">Map</a></div></li>
        <li><div class="bbs"><a href="/bbs">BBS</a></div></li>
        <li><div class="about"><a href="/about">About</a></div></li>
      </ul>
    </div>
   <main>
        {{{body}}}
    </main>
  </body>
</html>