<title>About</title>
<br><br>
<h1 id="white-color" class="center">About Page</h1>
<p id="white-color" class="center">This is a course project from CS546.</p>
<p id="white-color" class="center">You can find the source code and run demo at <a
        href="https://github.com/zh355245849/Food-Map546" id="github">https://github.com/zh355245849/Food-Map546 </a>
</p>