<!DOCTYPE html>
<html lang="en">
<head>
  <title>BBS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <br><br>
<button id="post-button" class="center-create-post-button">Create New Post</button>
<div class="container" id="toggle-form" style="display:none;">
  <div id="center1">
    <br><br>
  <h2 id="white-color">Create new posts:</h2>
  <form>
    <label for="fname" id="white-color">Title:</label><br>
    <input type="text" id="fname" name="firstname">
    <br>
    <label for="lname" id="white-color">Content:</label><br>
    <textarea rows="6" cols="30" id="lname" name="lastname"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</div>
</body>
<script type="text/javascript" src="public/javascripts/toggle.js"></script>
</html>