<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yummy NYC</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>

<body>
<video id="bgvid" playsinline autoplay muted loop>
    <source src="public/assets/food.mp4" type="video/mp4">
</video>
<div class="button-group">
    <h5>What's your choice?</h5>
    <button class="map-button" onclick="location.href='/maps'">Go to map</button>
    <br><br><br>
    <button class="bbs-button" onclick="location.href='/bbs'">Go to BBS</button>
</div>
<div id="polina">
    <h1>Yummy NYC</h1>
    <h3>Food Map In Great New York Area</h3>
    Made by:
    <ul>
        <li>Han Zhang</li>
        <li>Xin Pan</li>
        <li>Haotian Huang</li>
        <li>Xiaopeng Ji</li>
        <li>Yucheng Xie</li>
    </ul>
    <p>Welcome to our New York Food Map --- Yummy NYC!</p>
    <p>Our goal is to help you find the most popular restaurant from
        New York. You can use our web app to find a restaurant directly on the map. </p>
    <p>Also you can share your feeling and share information with others using our BBS module. If you find some delicious food, post it on our BBS!!</p>
    <button>Pause</button>
    <footer class = "footer">
        <p>&copy; 2016 Yummy NYC, Inc.</p>
    </footer>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="public/javascripts/index.js"></script>
</body>
</html>